mixin thumbnail-classic(obj)
	// Thumbnail Classic
	article.thumbnail.thumbnail-classic&attributes( attributes )
		.thumbnail-classic-figure
			+jpg( obj.img )

		.thumbnail-classic-caption
			.thumbnail-classic-title-wrap
				a.icon.fl-bigmug-line-zoom60( href='images/' + obj.imgOriginal + '.jpg', data-lightgallery='item' )
					+jpg( obj.img )
				h5.thumbnail-classic-title: a( href='single-project.html' )= obj.title ? obj.title : 'Project #' + obj.number
			p.thumbnail-classic-text We work hard on every project to deliver top-notch interior design concepts that satisfy your wishes.

mixin thumbnail-modern(obj)
	// Thumbnail Modern
	article.thumbnail.thumbnail-modern( class= obj.mod )
		a.thumbnail-modern-figure( href='images/' + obj.imgOriginal + '.jpg', data-lightgallery='item' )
			+jpg( obj.img )

		.thumbnail-modern-caption
			h5.thumbnail-modern-title: a( href='single-project.html' )= obj.title
			p.thumbnail-modern-subtitle= obj.subtitle

mixin thumbnail-creative(obj)
	// Thumbnail Modern
	article.thumbnail.thumbnail-creative( class= obj.mod )&attributes( attributes )
		a.thumbnail-creative-figure( href='images/' + obj.imgOriginal + '.jpg', data-lightgallery='item' )
			+jpg( obj.img )

		.thumbnail-creative-caption
			h5.thumbnail-creative-title: a( href='single-project.html' )= obj.title
			.thumbnail-creative-time
				time( datetime= obj.time.datetime )= obj.time.dateText
			.thumbnail-creative-button
				a.button.button-md.button-white( href='#' ) Read more

mixin thumbnail-mary(obj)
	// Thumbnail Classic
	article.thumbnail.thumbnail-mary&attributes( attributes )
		.thumbnail-mary-figure: +jpg( obj.img )

		.thumbnail-mary-caption
			a.icon.fl-bigmug-line-zoom60( href='images/' + obj.imgOriginal + '.jpg', data-lightgallery='item' )
				+jpg( obj.img )
			if(obj.titleNone == true)
			else
				if(obj.thumbnailSmall == true)
					h6.thumbnail-mary-title: a( href='single-project.html' )= obj.title ? obj.title : 'Project #' + obj.number
				else
					h5.thumbnail-mary-title: a( href='single-project.html' )= obj.title ? obj.title : 'Project #' + obj.number
	if(obj.nameProject)
		.thumbnail-mary-description
			h5.thumbnail-mary-project: a( href='single-project.html' )= obj.nameProject
			span.thumbnail-mary-decor
			h5.thumbnail-mary-time
				time( datetime= obj.datetime )= obj.time

mixin thumbnail-joan(obj)
	// Thumbnail Joan
	article.thumbnail.thumbnail-joan( class= obj.mod )&attributes( attributes )
		a.thumbnail-joan-figure( href='images/' + obj.imgOriginal + '.jpg', data-lightgallery='item' )
			+jpg( obj.img )

		.thumbnail-joan-caption
			h5.thumbnail-joan-title= 'Photo name #' + obj.number

mixin project-minimal(obj)
	.project-minimal
		.unit.unit-spacing-lg.align-items-center( class= obj.unit )
			.unit-left: a.project-minimal-figure( href= obj.href ): +jpg( obj.img )
			.unit-body
				p.project-minimal-text= obj.text
				.project-minimal-title: a( href= obj.href )= obj.title